rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /_health/{document} {
      allow read, write: if true;
    }
    
    match /rooms/{roomId} {
      allow read, write: if true;
      match /callerCandidates/{candidateId} {
        allow read, write: if true;
      }
      match /calleeCandidates/{candidateId} {
        allow read, write: if true;
      }
    }
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
