rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isDiegoOrYosmari() {
      return request.auth != null && (
        request.auth.uid == 'joeBcVn2o1hfXfU68rWNOyAZIqt2' ||
        request.auth.uid == 'Dd1X94n3gxg7leWtMtnLlxDVHcm2'
      );
    }

    // Colección de Usuarios Privados
    match /usuarios/{uid} {
      allow read, write: if isDiegoOrYosmari();
    }

    // Colección Principal Compartida de Parejas y todas sus Subcolecciones
    // Subcolecciones: chat, cartas, album, recuerdos, ubicacion, lugares, calendario, eventos, metas, logros, estadisticas, capsula, notificaciones, configuracion, diario, musica, juegos, citas, rutas, todo
    match /parejas/{parejaId} {
      allow read, write: if isDiegoOrYosmari();
      
      match /{document=**} {
        allow read, write: if isDiegoOrYosmari();
      }
    }

    // Bloquear cualquier otra ruta
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
